:root{
    --border-color: #41CCC5;
    --font-color: #E01326;
    --background-color: #151719;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    color: var(--font-color);

}
.body {
    /* background-color: var(--background-color); */
    background-image: url("../img/bg/bgLogin3.png");
    background-repeat: repeat-y;
    background-size: cover;
}

.display-center{
    display: flex;
    justify-content: center;
}

.card-login {
    margin-top: 10em;
    width: 35%;
    border-radius: 1em;    
    border: 0;
    background-color: var(--background-color);
    box-shadow:
    0 0 1em .5em var(--font-color),
    0 0 2em 1em var(--font-color),
    0 0 3em 1.5em var(--font-color);
    display: block;
    justify-content: center;
}


.card-login>div{
    padding: 1em;
}

.card-login-header{
    border-radius: 1em 1em 0 0;
    display: block;
    justify-content: center;
    
}
.card-login-header>h1{
    letter-spacing: .7em;
}

.card-login-fotter{
    border-radius: 0 0 1em 1em;
    display: flex;
    justify-content: center;
}


.input-group-text {
    background-color: var(--font-color) !important;
    border: 0 !important;
}
.input-group>span{
    width: 20%;
   
}

.input-group>input{
    transition: .5s all;
}
.input-group>input:focus{
    box-shadow: none;
    border-color: var(--background-color);
    background-color: var(--font-color) !important;
}

.btn-send {
    width: 75%;
    color: var(--font-color) !important;
    background-color: white !important;
}
.btn-send:hover, .btn-send:focus {
    color: white !important;
    background-color: var(--font-color) !important;
}
