@import url('../style.css');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color) !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 3;
    background-color: var(--font-color);
    box-shadow:
        0 0 .5em 0 var(--font-color),
        0 0 1em 0 var(--font-color),
        0 0 1.5em 0 var(--font-color);
    ;
}

.nav>div>ul>li {
    display: inline-flex;
    align-items: center;
}

.nav>div>ul {
    padding: 0;
    margin: 0;
}


.itemNav>div {
    border-radius: 0.1em;
    width: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.itemNav>div:hover {
    width: 10em;
    background-color: var(--background-color);
    box-shadow:
        0 0 1em 0 var(--font-color),
        0 0 1.5em 0 var(--font-color),
        0 0 2em 0 var(--font-color);
    ;
}

.itemNav>div>button,
.itemNav>div>button>i {
    color: var(--background-color);
    width: 100%;
    border: 0;
    background-color: var(--font-color);
    display: block;
    line-height: 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
}

.itemNav>div>button:hover,
.itemNav>div>button>i:hover {
    color: var(--font-color);
    background-color: var(--background-color);

}

.searcher-container{
    width: 30em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-searcher{
    height: 10%;
    width: 20em ;
    color: var(--background-color);
    border-radius: 1em;
    padding: .2em 1em .2em 1em;

    transition: 1s all;
}
.input-searcher:not(.input-searcher:focus){
    width: 10em;
}
.unshow{
    display: none !important;
}

.aside-menu {
    position: absolute;
    overflow: none;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 4;
    background-color: var(--background-color);
    box-shadow:
        0 0 1em 0 var(--font-color),
        0 0 1.5em 0 var(--font-color),
        0 0 2em 0 var(--font-color);
    ;

    transition: .8s all;
}

.aside-menu-active {
    width: 15em;
    height: 100%;
}

.content-aside-menu {
    display: none;
}
.content-aside-menu-active{
    display: block;
    justify-content: flex-start;
}

.aside-menu-header>hr{
    padding: 0;
    margin: 0 0 1em 0;
}
.aside-menu-tabs>ul{
    padding: 0;
    margin: 0;
}
.aside-menu-tabs>ul>li{
    display: flex;
}
.aside-menu-tabs>ul>li>div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.aside-menu-tabs>ul>li>div>button:hover
{
    color: var(--background-color);
    background-color: var(--font-color);
}

.button {
    color: var(--font-color);
    width: 100%;
    border: 0;
    background-color: var(--background-color);
    line-height: 3em;
}

.aside-menu-header>button {
    width: 20%;
}